* {
    font-family: 'DotGothic16', sans-serif;
}

nav {
    position: sticky;
    float: right;
    top: 0;
    font-size: 1.5em;
    z-index: 10;
}

.navLinks {
    text-decoration: none;
    cursor: pointer;
}

.navLinks:link {
    color: black;
}

.navLinks:visited {
    color: black;
}

.navLinks:hover {
    color: #15559a;
    border: 0.1em solid black;
    padding: 0.1em;
}


.navLinks:active {
    color: rgb(255, 0, 0);
}

header {
    color: #15559a;
    font-size: 2vw;
    padding: 0 1em 1em 0;
    letter-spacing: 0.1em;
}

h1 {
    color: #15559a;
    font-family: fantasy;
    filter: drop-shadow(5px 5px 2px #000522);
    text-align: center;
}

#content {
    margin: auto;
    text-align: center;
    font-size: 1.5em;
}